@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: titillium;
  src: url("/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: titillium-bold;
  src: url("/fonts/TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
  font-family: titillium-black;
  src: url("/fonts/TitilliumWeb-Black.ttf") format("truetype");
}

* {
  @apply font-base;
}

body {
  @apply bg-gray-800;
}
